<h2>Criar Ticket</h2>
<br>

<form action="/ticketCreate" method="post" style="width: 30vw;">

    <label class="form-label">Título:</label>
    <input class="form-control" type="text" name="titulo" placeholder="titulo">

    <label class="form-label">Descrição:</label>
    <input class="form-control" type="text" name="descricao" placeholder="descricao">

    <label class="form-label">Categoria:</label>
    <select name="categoriaId" class="form-select">
        {{#each categorias}}
        <tr>
            <option value={{id}}>{{nome}}</option>
        </tr>
        {{/each}}
    </select>

    {{#if admin}}
    <label class="form-label">Técnico:</label>
        <select class="form-select" name="tecnicoId">
            {{#each usuarios}}
            <tr>
                {{#ifCond tipo '2'}}
                <option value={{id}}>{{login}}</option>
                {{/ifCond}}
            </tr>
            {{/each}}
        </select>
        {{/if}}

        {{#if tecnico}}
        <label class="form-label">Técnico:</label>
        <select class="form-select" name="tecnicoId">
            {{#each usuarios}}
            <tr>
                {{#ifCond tipo '2'}}
                <option value={{id}}>{{login}}</option>
                {{/ifCond}}
            </tr>
            {{/each}}
        </select>
        {{/if}}

        <br> <br>

        <br> <br>
        <input type="submit" class="btn btn-secondary" value="Cadastrar">
        <br><br>
        <a href="home"><button type="button" class="btn btn-outline-danger">Voltar</button></a>

</form>