<form action="/ticketUpdate" method="post">
    <input type="hidden" name="id" value={{ticket.id}}>
    <div class="form-group" style="width: 80%;">

        Nome:
        <input type="text" class="form-control" name="titulo" value="{{ticket.titulo}}">
        <br><br>

        Descrição:
        <input type="text" class="form-control" name="descricao" value="{{ticket.descricao}}">
        <br><br>

        Categoria: <select name="categoriaId">
            {{#each categorias}}
            <tr>
                <option value={{id}}>{{nome}}</option>
            </tr>
            {{/each}}
        </select>
        <br> <br>

        {{!-- SE FOR ADMIN: --}}
        {{#if admin}}
        Técnico: <select name="tecnicoId">
            {{#each usuarios}}
            <tr>
                {{#ifCond tipo '2'}}
                <option value={{id}}>{{login}}</option>
                {{/ifCond}}
            </tr>
            {{/each}}
        </select>
        {{/if}}
        <br> <br>

        {{!-- SE FOR TECNICO: --}}
        {{#if tecnico}}
        Observação:
        <input type="text" class="form-control" name="observacao" value="{{ticket.observacao}}">
        <br><br>
        Concluído: <input type="checkbox" name="concluido" value="true">
        {{/if}}
        <br> <br>
    </div>
    <button type="submit" class="btn btn-primary">Editar</button>
    <a href="/home"><button type="button" class="btn btn-primary">Voltar</button></a>
</form>

