<table class="table table-dark table-hover" style="width: 80vw;">
    <h2>Lista de Categorias</h2>
    <br>
    <thead>
        <tr>
            <th scope="col">Nome</th>
            {{#if admin}}
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>
            {{/if}}
        </tr>
    </thead>

    {{!--Caso seja administrador--}}
    {{#if admin}}
    <tbody>
        {{#each categorias}}
            <tr>           
                <td scope="col">{{nome}}</td>
                <td><a href="categoriaUpdate/{{id}}">Editar</a></td>
                <td><a href="categoriaDelete/{{id}}">Deletar</a></td>
            </tr>
        {{/each}}
    </tbody>
    {{!--Caso seja usuário comum ou tecnico--}}
    {{else}}
        <tbody>
            {{#each categorias}}
            <tr>
                <td scope="col">{{nome}}</td>
            </tr>
            {{/each}}
        </tbody>
    {{/if}}

</table>
